PORT=3000
DATABASE_URL=postgresql://user:password@host:5432/loopinedu
JWT_SECRET=troque_essa_chave
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
APP_NAME=LoopinEdu
APP_URL=http://localhost:3000
DEFAULT_ADMIN_NAME=Administrador
DEFAULT_ADMIN_EMAIL=admin@loopinedu.com
DEFAULT_ADMIN_PASSWORD=123456
DEFAULT_TENANT_NAME=Escola Demo LoopinEdu
DEFAULT_TENANT_SLUG=demo-loopinedu
TRIAL_DAYS=15
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_PUBLIC_KEY=
MERCADOPAGO_WEBHOOK_SECRET=
MERCADOPAGO_STATEMENT_DESCRIPTOR=LOOPINEDU
MERCADOPAGO_INTEGRATOR_ID=
